@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';

canvas {
    margin: 30px 25px 10px 0px;
}

#start{
    font-family: monospace;
    font-size: 28px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 713px;
    left: 415px;
}

#myCanvas {
    position: relative;
    float: right;
}

#player1{
    position: absolute;
    top:399px;
    left:58px;
    width: 90px;
    text-align: center;
}

.player{
    font-size: 25px;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#player2{
    position: absolute;
    top:399px;
    left:295px;
    width: 90px;
    text-align: center;
}

#arrow{
    position: absolute;
    left: 132px;
    top: 397px;  
}

.towards-right{
    animation: ex4 3s 1 alternate;
    animation-fill-mode: forwards;
}

.towards-left{
    animation: ex5 3s 1 alternate;
    animation-fill-mode: forwards;
}

@keyframes ex4 { /* CSS3 */
	from   { 
        transform:         rotateY(0deg); /* CSS3 */
        -moz-transform:    rotateY(0deg); /* Firefox */
        -webkit-transform: rotateY(0deg); /* Webkit */
        -o-transform:      rotateY(0deg); /* Opera */
        -ms-transform:     rotateY(0deg); /* IE 9 */
    }
	to { 
        transform:         rotateY(180deg); /* CSS3 */
        -moz-transform:    rotateY(180deg); /* Firefox */
        -webkit-transform: rotateY(180deg); /* Webkit */
        -o-transform:      rotateY(180deg); /* Opera */
        -ms-transform:     rotateY(180deg); /* IE 9 */
    }
}
@-moz-keyframes ex4 { /* CSS3 */
	0%   { 
        transform:         rotateY(0deg); /* CSS3 */
        -moz-transform:    rotateY(0deg); /* Firefox */
        -webkit-transform: rotateY(0deg); /* Webkit */
        -o-transform:      rotateY(0deg); /* Opera */
        -ms-transform:     rotateY(0deg); /* IE 9 */
    }
	100% { 
        transform:         rotateY(180deg); /* CSS3 */
        -moz-transform:    rotateY(180deg); /* Firefox */
        -webkit-transform: rotateY(180deg); /* Webkit */
        -o-transform:      rotateY(180deg); /* Opera */
        -ms-transform:     rotateY(180deg); /* IE 9 */
    }
}
@-webkit-keyframes ex4 { /* CSS3 */
	0%   { 
        transform:         rotateY(0deg); /* CSS3 */
        -moz-transform:    rotateY(0deg); /* Firefox */
        -webkit-transform: rotateY(0deg); /* Webkit */
        -o-transform:      rotateY(0deg); /* Opera */
        -ms-transform:     rotateY(0deg); /* IE 9 */
    }
	100% { 
        transform:         rotateY(180deg); /* CSS3 */
        -moz-transform:    rotateY(180deg); /* Firefox */
        -webkit-transform: rotateY(180deg); /* Webkit */
        -o-transform:      rotateY(180deg); /* Opera */
        -ms-transform:     rotateY(180deg); /* IE 9 */
    }
}

@keyframes ex5 { /* CSS3 */
	from   { 
        transform:         rotateY(180deg); /* CSS3 */
        -moz-transform:    rotateY(180deg); /* Firefox */
        -webkit-transform: rotateY(180deg); /* Webkit */
        -o-transform:      rotateY(180deg); /* Opera */
        -ms-transform:     rotateY(180deg); /* IE 9 */
    }
	to { 
        transform:         rotateY(0deg); /* CSS3 */
        -moz-transform:    rotateY(0deg); /* Firefox */
        -webkit-transform: rotateY(0deg); /* Webkit */
        -o-transform:      rotateY(0deg); /* Opera */
        -ms-transform:     rotateY(0deg); /* IE 9 */
    }
}
@-moz-keyframes ex5 { /* CSS3 */
	0%   { 
        transform:         rotateY(0deg); /* CSS3 */
        -moz-transform:    rotateY(0deg); /* Firefox */
        -webkit-transform: rotateY(0deg); /* Webkit */
        -o-transform:      rotateY(0deg); /* Opera */
        -ms-transform:     rotateY(0deg); /* IE 9 */
    }
	100% { 
        transform:         rotateY(180deg); /* CSS3 */
        -moz-transform:    rotateY(180deg); /* Firefox */
        -webkit-transform: rotateY(180deg); /* Webkit */
        -o-transform:      rotateY(180deg); /* Opera */
        -ms-transform:     rotateY(180deg); /* IE 9 */
    }
}
@-webkit-keyframes ex5 { /* CSS3 */
	0%   { 
        transform:         rotateY(0deg); /* CSS3 */
        -moz-transform:    rotateY(0deg); /* Firefox */
        -webkit-transform: rotateY(0deg); /* Webkit */
        -o-transform:      rotateY(0deg); /* Opera */
        -ms-transform:     rotateY(0deg); /* IE 9 */
    }
	100% { 
        transform:         rotateY(180deg); /* CSS3 */
        -moz-transform:    rotateY(180deg); /* Firefox */
        -webkit-transform: rotateY(180deg); /* Webkit */
        -o-transform:      rotateY(180deg); /* Opera */
        -ms-transform:     rotateY(180deg); /* IE 9 */
    }
}
body {
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}
.dice-board{
    position: absolute;
    left: 0px;
    top: 0px;
    

}
#banner{
    left: -100px;
}

h1{
    font-family: monospace;
    font-size: 75px;
    font-weight: bold;
    color: firebrick;
    line-height: 76%;
    text-align: center;
    margin: 45px 75px;
}

#dice {
    font-size: 150px;
    position: absolute;
    left: 183px;
    top: 393px;
    will-change: left, top;
    
}

#dice:hover {
    cursor: pointer;
}

*, :after, :before {
    box-sizing: border-box;
}

:focus{
  outline: none;
}

/* Roll dice button css  */

button {
    position: absolute;
    height: 92px !important;
    left: 130px;
    top: 365px;
    overflow: visible;
    border: 0;
  padding: 0;
  margin: 1.8rem;
}
.btn.striped-shadow span {
    display: block;
    position: relative;
    z-index: 2;
    border: 5px solid;
}


.btn.striped-shadow.blue span {
    border-color: #4183D7;
    background: #77bfa1;
    color: #4183D7;
}

.btn {
    font-family: 'Bungee Shade', sans-serif;
    line-height: 65px;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    font-size: 1.35rem;
    width: 250px;
    transition: opacity .3s,z-index .3s step-end,-webkit-transform .3s;
    transition: opacity .3s,z-index .3s step-end,transform .3s;
    transition: opacity .3s,z-index .3s step-end,transform .3s,-webkit-transform .3s;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
}
.btn {
    width: 155px;
    height: 48px;
    line-height: 38px;
}


button.btn.striped-shadow.blue:after, button.btn.striped-shadow.blue:before {
    background-image: linear-gradient(135deg,transparent 0,transparent 5px,#4183D7 5px,#4183D7 10px,transparent 10px);
}

button.btn.striped-shadow:hover:before {
    max-height: calc(100% - 10px);
}

button.btn.striped-shadow:after {
    width: calc(100% - 4px);
    height: 8px;
    left: -10px;
    bottom: -9px;
    background-size: 15px 8px;
    background-repeat: repeat-x;
}
button.btn.striped-shadow:after, button.btn.striped-shadow:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    transition: max-height .3s,width .3s,-webkit-transform .3s;
    transition: transform .3s,max-height .3s,width .3s;
    transition: transform .3s,max-height .3s,width .3s,-webkit-transform .3s;
}

.btn.striped-shadow:hover {
    -webkit-transform: translate(-12px,12px);
    -ms-transform: translate(-12px,12px);
    transform: translate(-12px,12px);
  z-index: 3;
}

button.btn.striped-shadow:hover:after, button.btn.striped-shadow:hover:before {
    -webkit-transform: translate(12px,-12px);
    -ms-transform: translate(12px,-12px);
    transform: translate(12px,-12px);
}
button.btn.striped-shadow:before {
    width: 8px;
    max-height: calc(100% - 5px);
    height: 100%;
    left: -12px;
    bottom: -5px;
    background-size: 8px 15px;
    background-repeat: repeat-y;
    background-position: 0 100%;
}

.hide{
    display: none;
}
.sub{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

/* Pop up */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.emoticon{
  font-size: 50px;
}